h1 {
    color: lightcoral;
    font-size: 40px;
    font: Arial;
}

ul {
    list-style-type: square;
}

img {
    width: 300px;
}

#profile{
    border-radius: 100%;
    width: 300;
}

#profile:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

body{
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    margin: auto;
    /* max-width: 550px; */
}

.highlight{
    background-color: lightgoldenrodyellow;
}

.box {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.project
{
	position: relative;
	width: 1230px;
	display: table; /*to make height wrap content*/
	padding-left: 30px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	border-radius: 30px;
	background-color: #FFFFFF;
}


.transparent
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url(../image/image.png);
}

.image
{
	position: relative;
	width: 200px;
	display: table; /*to eliminate extra space at bottom and to make height wrap content*/
	margin-bottom: 30px;
}