
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* main colors */

:root {
    font-size: 16px;
    --main: #000;
    --bg-color: #141414;
    --text: #fff;
    --text2: rgba(255,255,255,.8);
    --text3: rgba(255,255,255,.5);
    --text4: rgba(255,255,255,.3);
    --bg1: rgba(255,255,255,0.05);
    --bg2: rgba(255,255,255,0.03);
}

.theme-light {
    --main: #fff;
    --bg-color: #fff;
    --text: #000;
    --text2: rgba(0,0,0,.8);
    --text3: rgba(0,0,0,.5);
    --text4: rgba(0,0,0,.3);
    --bg1: rgba(0,0,0,0.04);
    --bg2: rgba(0,0,0,0.02);
}

/* themes */

.theme-dark {
    background-color: var(--bg-color);
    color: var(--text);
}

.theme-light {
    background-color: var(--bg-color);
    color: var(--text);
}

body {
    transition: ease-in-out background 600ms;
}


/* font */

h1 {
    line-height: 1.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    letter-spacing: 0.02rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: .5em 0 .5em 0;
    letter-spacing: 0.01rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: .5em 0 .5em 0;
    /*letter-spacing: 0.02rem;*/
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2rem 0 .5em 0;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 0 .5rem 0;
    line-height: 165%;
    color: var(--text3);
    text-transform: uppercase;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    line-height: 165%;
    color: var(--text2);
}

.hero-desc p {
    color: var(--text3);
    line-height: 1.5rem;
}

#tag {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: .8rem;
}


#desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text2);
    line-height: 2rem;
}

.socials a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 2rem;
    color: var(--text);
}

.socials a:hover {
    color: var(--text3);
}



/*general */

.container {
    display: block;
    align-content: center;
    margin: auto;
    max-width: 1040px;
    padding-bottom: 1rem;
}

.flair {
    position: absolute;
    width: 444px;
    height: 696px;
    left: 996px;
    top: 0px;
    z-index: 1;

}

.iconify {
    width: 22px;
    height: 22px;
    color: var(--text2);
}

.image {
    max-width: 100%;
    border-radius: .4rem;
    margin: auto;
}

#jos {
    font-weight: 600;
}

#jos:hover {
    opacity: 60%;
}


/* nav */
nav {
    display: flex;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    padding-top: 40px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;

}

li {
    list-style-type: none;
    padding-left: 56px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#active {
    font-weight: 600;
}

#inactive {
    color: var(--text3);
}

#inactive:hover {
    color: var(--text);
}

/*header section*/

.hero {
    display: flex;
    flex-direction: column;
    padding-top: 11rem;
    padding-bottom: 13rem;
    margin-right: auto;
    margin-left: auto;
}

.header {
    max-width: 90%;
    padding: 1em 0 1em 0;
}

/*.hero-desc {*/
    /*display: flex;*/
    /*border-left-style: solid;*/
    /*border-color: var(--text4);*/
    /*padding: 0 0 0 16px;*/
    /*margin: .5em 0 1em 0;*/
/*}*/

.hero-desc {
    display: flex;
    /*border-left-style: solid;*/
    background-color: var(--bg2);
    border-radius: .25rem;
    padding: 1rem;
    /*margin: .5em 0 1rem 0;*/
    margin-top: .5rem;
}


/* work */

.selected-work {
    display: flex;
    flex-direction: row;
}

#icon {
    padding: 0 1em 0 .5em;
}

/* projects */

.project-tags {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.tag {
    padding: 8px 20px 8px 20px;
    border-radius: 100px;
    background-color: var(--bg1);
    margin-right: 8px;
    white-space: nowrap;
}

.project {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    /*margin-bottom: 1rem;*/
    padding: 4rem 0 4rem 0;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background-color: var(--bg-color);
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

.project:hover {
    background-color: var(--bg2);
}

.project-img #prj-img {
    transition: 0.3s;
}

.project:hover #prj-img {
    transform: scale(1.04);
}

.project .desc-arrow {
    transition: 0.3s
}

.project:hover .desc-arrow {
    -moz-transform: translateX(16px);
    -ms-transform: translateX(16px);
    -o-transform: translateX(16px);
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
}

.project-img {
    display: flex;
    flex: 1.2;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
}

#prj-img {
    max-width: 90%;
}

.project-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*padding: 2rem 2rem 2rem 2rem;*/
    /*margin: 2rem 3rem 2rem 3rem*/
}

.project-desc #desc {
    max-width: 80%;
}

.view {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.desc-arrow {
    padding: 0 .5em 0 .5em;
}




/* project page */

.project-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

#header-img {
    max-width: 100%;
    border-radius: .4rem;
}

.title {
    max-width: 75%;
    margin: 3rem auto;
}

.prj-section {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: auto;
}

.divider {
    margin: 7rem auto;
}

.context {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem auto 2rem auto;
}

.context-item {
    padding-right: 1.5rem;
}

.callout {
    padding: 2rem;
    background-color: var(--bg2);
    margin: .5rem 0 1rem 0;
    border-radius: .5rem;
}

.callout-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg2);
    margin-top: 2rem;
    border-radius: .5rem;
}

.callout-small .iconify {
    margin-right: 2rem;
    color: var(--text3);
}

.bullet {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.dot {
    margin-right: 1rem;
    margin-left: .5rem
}


/*About*/

.about {
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    margin-top: 5rem;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.me {
    display: flex;
    flex: 1.2;
    margin-top: 2rem;
    align-items: flex-start;
}

.me .image {
    margin-top: 0;
}

.about-body {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-left: 4rem;
}

.about-body .callout-small {
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.callout-icon {
    margin-right: 1rem;
}

.about-body p {
    line-height: 170%;
}

.about-body h1 {
    margin-bottom: 1rem;
}

#resume {
    font-weight: 600;
    text-decoration: underline;
}

#resume:hover {
    color: var(--text3);
}




/* Footer */

footer {
    margin-top: 15rem;
    margin-bottom: 4rem;
}

.socials {
    display: flex;
    flex-direction: row;
    margin: 4rem 0 0 0;
}

.copyright {
    color: var(--text3);
    margin: 2rem 0 1rem 0;
}



/* toggle */

.toggle-container {
    display: inline-flex;
    flex-grow: 2;
}


input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 44px;
    height: 24px;
    /*background: grey;*/
    background: var(--text4);
    float: right;
    border-radius: 100px;
    position: relative;
    margin-right: .5em;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    /*background: #fff;*/
    background: var(--text3);
    border-radius: 100px;
    transition : 0.3s;
}

input:checked + label {
    background: var(--text4);
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: var(--text3);
}

label:active:after {
    width: 44px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}


/* media queries */

@media (max-width: 1280px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 1024px) {
    .me{
        flex: 1;
    }

    .about-body {
        flex: 1;
        margin-left: 2rem;
    }
}

@media (max-width: 850px) {
    .project {
        flex-direction: column;
    }

    .project-desc {
        padding: 1rem 3rem 1rem 3rem;
    }

    .project-desc #desc {
        max-width: 100%;
    }

    #desc {
        font-size: 1.5rem;
    }

    .title {
        max-width: 100%;
    }

    .prj-section {
        max-width: 100%;
    }

    .project-img {
        padding: 1rem 0;
    }

    .about {
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
    }

    .me {
        margin-bottom: 2rem;
    }

    .about-body {
        margin-left: 0;
    }


}


@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }

    .header {
        max-width: 100%;
    }

    li {
        padding-left: 32px;
    }

    .context {
        flex-direction: column;
    }

    .context-item {
        margin-bottom: 2rem;
    }

    .hero {
        padding-top: 7rem;
        padding-bottom: 6rem;
    }

    .project-desc {
        padding: 1rem 2rem 1rem 2rem;
    }


    .me .image {
        margin: 0 auto;
    }

}

@media all and (max-width: 425px) {
    li {
        padding-left: 16px;
    }

    .callout-small {
        flex-direction: column;
        align-items: normal;
    }

    .callout-small .iconify {
        margin-bottom: 1rem;
    }


}